<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>My link-in-bio</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

  <style>
    html {
      min-height: 100%;
    }

    .main-container {
      max-width: 640px;
      margin: auto;
    }

    body {
      min-height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background: linear-gradient(180deg, #e0f7ff, #d3f0ff, #c8e9ff, #bfe1ff, #b9d9ff, #b7cfff, #b8c5ff, #bcbaff);
      color: rgba(54, 36, 45, 0.89);
      font-family: 'Open Sans';
    }

    a {
      color: rgba(12, 102, 7, 0.89);
      text-decoration: none;
    }

    .item {
      background-color: rgba(159, 185, 255, 0.8);
    }

    .avatar-image {
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 128px;
    }

    .thumbnail {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      object-fit: cover;
    }

    .image-row {
      margin-bottom: 20px;
      text-align: center;
    }

    .name-row {
      margin-bottom: 30px;
      text-align: center;
      font-family: Raleway;
    }

    .social-icons-row {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around;
    }

    .item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      border-radius: 1000px;
      padding: 5px;
      padding-right: 53px;
      box-shadow: 4px 4px 10px 0px rgba(98, 137, 244, 0.8);
    }

    .link-text{
      text-align: center;
      flex-grow: 1;
    }

    /* * {
      border: 1px red dashed;
    } */
  </style>
</head>

<body>
  <div class="main-container">
    <div class="image-row">
      <img class="avatar-image" src="/images/benjamin-hibbert-hingston-Xs5GswOw_DA-unsplash.jpg" alt="blank image" width="200" height="200">
    </div>

    <div class="name-row">
      <em><strong>name</strong></em>
    </div>

    <div class="social-icons-row">
      <a href="github.com" target="_blank">
        <i class="fa-brands fa-github"></i> GitHub
      </a>

      <a href="linkedin.com" target="_blank">
        linkedin
      </a>
    </div>

    <div class="links-row">
      <div class="item">
        <img class="thumbnail" src="/images/declan-sun-nnI25x23mpA-unsplash.jpg" height="200" width="200" alt="test">
        <a class="link-text" target="_blank" href="https://www.wikipedia.org/">
          wikipedia
        </a>
      </div>
      
      <div class="item">
        <img class="thumbnail" src="/images/luke-jones-JcEEIM963oM-unsplash.jpg" height="200" width="200" alt="unsplash">
        <a class="link-text" href="https://www.google.com/" target="_blank">
          google
        </a>
      </div>
    </div>
  </div>
</body>

</html>
